header{
  background: black;
}

body{
  background: ;
}

main{
  border: ;
}

nav {
  margin-top: -40px;
}

a.navbar-brand{
  color: #fc03e8;
}

#brand{
  color: #fc03e8;
}

span.gicon{
  background: #ffffff;
}
